<div class="flex justify-center">
    <div class="w-1/2 max-w-2xl mt-10">
        <div class="w-10/12 mx-auto">
            <p class="font-extralight text-2xl text-center m-6">Artikel</p>
            <admin-item-man ></admin-item-man>
        </div>
    </div>
    <div class="w-1/2 max-w-xl mt-10">
        <div class="w-5/6 mx-auto">
                <p class="font-extralight text-2xl text-center m-6">Automat Preview</p>
              <admin-automat-view></admin-automat-view>
        </div>
    </div>
</div>

