<div class="w-full  text-white flex " [style.background-color]="themeDataService.primaryColor">
    <div class="p-2 m-auto w-11/12 flex ">
        <a [routerLink]="[UserFrontendRoutes.Home]">
            <lib-icon  IconName="home" class="mr-2 text-xl"></lib-icon>
            <a class="text-xl ">ZID Automat</a>
          </a>

          
        <div class="flex ml-auto" *ngIf="ls.getItem('jwt') !== null && dontshownavbar && showNav ">
            <shared-icon-button *ngIf="count != 0" Tooltip="Active QRCodes" matBadgeSize="medium"  matBadgePosition="before" [matBadge]="count" matBadgeColor="accent" (Clicked)="route(UserFrontendRoutes.ActiveQrCodes)" IconName="QrCode"></shared-icon-button>
            <shared-icon-button *ngIf="count==0" Tooltip="Active QRCodes" (Clicked)="route(UserFrontendRoutes.ActiveQrCodes)" IconName="QrCode"></shared-icon-button>
           
            <shared-icon-button Tooltip="Borrows" (Clicked)="route(UserFrontendRoutes.History)" IconName="History"></shared-icon-button>
            <shared-icon-button Tooltip="Help" (Clicked)="route(UserFrontendRoutes.Help)" IconName="Help"></shared-icon-button>
            <shared-icon-button Tooltip="AGBs" (Clicked)="route(UserFrontendRoutes.Agbs)" IconName="Book"></shared-icon-button>
            <p class="ml-3 text-xl font-extralight  block  hover:scale-105 ease-in duration-200"(click)="logout()">
                Logout
            </p>
        </div>
    </div>
</div>