<div class="mt-7">
    <p class="font-extralight text-3xl text-center mb-4 mt-7">Automat Scann Logs</p>


<mat-tab-group class="w-10/12 mx-auto mt-10"  mat-align-tabs="center">
    <mat-tab label="All Scanned Qr Codes"> 
        <admin-automat-qr-code-log [AdmiLog]="all"></admin-automat-qr-code-log>    
    </mat-tab>
    <mat-tab label="All Invalid Qr Codes">
        <admin-automat-qr-code-log [AdmiLog]="invalid"></admin-automat-qr-code-log>    
    </mat-tab>
    <mat-tab label="All Ejected Items"> 
        <admin-automat-qr-code-log [AdmiLog]="ejct"></admin-automat-qr-code-log>    
    </mat-tab>
</mat-tab-group>
</div>