<p>borrowed-view works!</p>

Filter:

<label for="username">Username:</label>
<input
  type="text"
  placeholder="Username"
  class="border-2 border-gray-200 rounded-lg p-2 my-2"
/>

<br />

<mat-button-toggle-group name="status" aria-label="Status">
  <mat-button-toggle value="borrowed">Borrowed</mat-button-toggle>
  <mat-button-toggle value="returned">Returned</mat-button-toggle>
  <mat-button-toggle value="all">All</mat-button-toggle>
</mat-button-toggle-group>

<div class="p-5 border-black">
  <div
    *ngFor="let borrowed of borrowed_items"
    class="w-full border-black bg-gray-400"
  >
    <span class="font-bold">{{ borrowed.username }}</span>
  </div>
</div>
