<h1 class="text-center block font-light text-3xl m-10">Help</h1>
    <h1 class="text-center block font-light text-3xl m-10"></h1>
    <div class="font-light">
      <div class="faq-one">
        <h1 class="faq-page">Wie borge ich einen Artikel aus?</h1>
        <div class="faq-body">
          <p>
            Gehen Sie auf die "/home" Page(Navbar ZID Automat). Dort sehen Sie alle verfügbaren Artikel. Mit drücken auf den Artikel kommen Sie zu einem Dialog. Dort gibt es eine Sektion namens Ausborgen. Über den Datepicker können Sie auswählen, wann Sie den Artikel zurückgeben wollen. Nun müssen Sie noch das Einverständnis geben, dass Sie sich bewusst sind, dass Sie gerade einen Artikel ausborgen, via des Toggle Buttons. Mit drücken auf den “Ausborgen” Button wird das Ausborgen gestartet. Sie erhalten einen QR- Code. Mit diesem QR- Code können sie zum Automat gehen und ihn einscannen. Der Artikel sollte darauf hin ausgegeben werden
          </p>
        </div>
      </div>
      <hr class="hr-line" />

        <div class="faq-six">
          <h1 class="faq-page">Wo gebe ich den ausgeborgten Artikel zurück?</h1>
          <div class="faq-body">
            <p class="text-with-margin">ausgezeichnete Frage!!!!</p>
          </div>
        </div>
        <hr class="hr-line" />
  
      

      <div class="faq-two">
        <h1 class="faq-page">Wo sehe ich meine aktuellen Ausleihen?</h1>

        <div class="faq-body">
          <p>
            Ihre Artikel, die noch nicht abgeholt worden sind, können sie auf der ActiveQrCodePage ansehen( Navbar Qr-Code Icon oder “/activeQrCodes”) Dort haben Sie die möglichkeit sich Informationen über die Ausleihe anzuschauen und den QR-Code noch einmal anzeigen zu lassen
          </p>
        </div>
      </div>
      <hr class="hr-line" />

      <div class="faq-three">
        <h1 class="faq-page">
          Wie lange habe ich Zeit, um einen Artikel abzuholen?
        </h1>

        <div class="faq-body">
          <p>
            Generell gilt, dass nach dem Drücken des 'Ausborgen'-Buttons der Artikel für eine Stunde reserviert ist. Nach dieser Zeitspanne vergeht die Reservierung und man müsste den Reservierungsprozess von neuem starten.
          </p>
        </div>
      </div>
      <hr class="hr-line" />

      <div class="faq-four">
        <h1 class="faq-page">
          Was passiert, wenn ich den Artikel verliere/ nicht zurück gebe?
        </h1>

        <div class="faq-body">
          <p>
            Wenn ein Artikel abhandengekommt oder beschädigt wird, muss dieser Schaden kompensiert werden. Der Betrag, der bei einer beschädigung zu bezahlen ist, findet sich neben jedem Produkt
          </p>
        </div>
      </div>

      <hr class="hr-line" />

      <div class="faq-five">
        <h1 class="faq-page">
          Kann ich mir eine Historie meiner Ausleihen ansehen?
        </h1>
        <div class="faq-body">
          <p class="text-with-margin">
            Ja auf der “history”-page(zweiter Button von links in der Navbar)
          </p>
        </div>
      </div>

 
      <hr class="hr-line" />

      <div class="faq-seven">
        <h1 class="faq-page">Ab wann fallen Kosten an?</h1>
        <div class="faq-body">
          <p class="text-with-margin">
            Sollten Sie das Produkt beschädigt, oder gar nicht zurück geben,
            fallen Kosten an.
          </p>
        </div>
      </div>
    </div>

<div class="m-32"></div>