<h1 class="text-center block font-light text-3xl m-10">Help Page</h1>  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ PAGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="help-page.component.scss">

</head>

<body>
    <main>

        <h1 class="text-center block font-light text-3xl m-10"></h1> 
        <section class="faq-container">
            <div class="faq-one">

                <!-- faq question -->
                <h1 class="faq-page">Wie borge ich einen Artikel aus?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Zunächst wählen Sie ihren gewünschten Artikel aus. 
                        Nachdem Sie das Datum angegeben haben,
                         bis wann Sie den Artikel benötigen und das Hackerl gesetzt haben,
                          klicken Sie auf "Ausborgen" und bekommen einen QR Code.
                           Diesen scannen Sie dann beim Automaten ein und erhalten ihren Artikel. </p>
                           
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-two">

                <!-- faq question -->
                <h1 class="faq-page">Wo sehe ich meine Artikel?</h1>

                <!-- faq answer -->

                <div class="faq-body">
                    <p>Navigieren Sie in der Navbar zu ActiveQRCodes um ihre aktiven QRCodes einzusehen.
                        Wollen Sie alle ihre jemals ausgeborgten Artikel sehen, navigieren Sie zu History.
                    </p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="faq-three">

                <!-- faq question -->
<h1 class="faq-page">Wie lange habe ich Zeit, um einen Artikel abzuholen?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>Keine Ahnung Großer, weiß selber nd. HOPS
                        Wahrscheinlich unendlich lang.
                    </p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="faq-four">

                <!-- faq question -->
<h1 class="faq-page">Was passiert, wenn ich den Artikel verliere/ nicht zurück gebe?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p>In diesem Fall, fallen Kosten an. Diese sind neben jedem Produkt jeweils eingetragen.</p>
                    
                </div>
            </div>


            <hr class="hr-line">

            <div class="faq-five">

                <!-- faq question -->
<h1 class="faq-page">Gibt es eine Möglichkeit, meine ausgeborgten Artikel zu sehen?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p class="text-with-margin">Wenn Sie auf History klicken, sehen Sie alle ihre ausgeborgten Artikel</p>
                    
                </div>
            </div>


            <hr class="hr-line">

            <div class="faq-six">

                <!-- faq question -->
<h1 class="faq-page">Wo gebe ich den ausgeborgten Artikel zurück?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p class="text-with-margin">F an Berger, aber beim ZID.</p>
                    
                </div>
            </div>

            <hr class="hr-line">

            <div class="faq-seven">

                <!-- faq question -->
<h1 class="faq-page">Ab wann fallen Kosten an?</h1>

                <!-- faq answer -->
                <div class="faq-body">
                    <p class="text-with-margin">Sollten Sie das Produkt beschädigt, oder gar nicht zurück geben, fallen Kosten an.</p>
                    
                </div>
            </div>


        </section>
    </main>
    
    
    <script src="help-page.component.ts"></script>
</body>


</html>