<h1 class="text-center block font-light text-3xl m-10">AGBs</h1>
<div class="flex justify-center">
  <div class="w-8/12 mb-20">
    <section>
      <h2 class="text-2xl  ml-1 font-light mb-5" >§1 Geltungsbereich</h2>
      <p class="text-xl font-light text-justify">
        Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Verträge
        zwischen dem ZID und seinen Kunden. Abweichende Bedingungen des Kunden
        werden nicht anerkannt, es sei denn, das ZID hat ihrer Geltung ausdrücklich
        schriftlich zugestimmt.
      </p>
    </section>
    
    <section>
      <h2 class="text-2xl  ml-1 font-light mb-5" >§2 Vertragsabschluss</h2>
      <p class="text-xl font-light text-justify">
        Der Vertrag kommt zustande, sobald der Kunde das Bestellformular ausfüllt
        und auf Ausborgen klickt. 
    
      </p>
    </section>
    
    <section>
      <h2 class="text-2xl  ml-1 font-light mb-5" >§3 Lieferung</h2>
      <p class="text-xl font-light text-justify">
        Es gibt keine Lieferung, da das System hinter dem ZID-Automaten auf einem
        Selbstbedienungsmodel basiert.
    
        Nachdem der QR-Code erhalten wurde, wird der Artikel vom Kunden selber beim
        Automaten abgeholt. Das ZID übernimmt keine Haftung, falls der Artikel fehlerhaft ausworden wird.
      </p>
    </section>
    
    <section>
      <h2 class="text-2xl  ml-1 font-light mb-5" >§4 Zahlungsbedingungen</h2>
      <p class="text-xl font-light text-justify">
        EIne Zahlung erfolgt nur dann, wenn der Kunde seinen Artikel beschädig oder
        verloren hat, bzw. nicht in der Lage ist ihn zurück zu bringen.
        Sollte es zu solch einem Fall kommen, hat der Kunde eine Frist in der er den
        Rückerstatungswert bezahlen muss.
      </p>
    </section>
    
    <section>
      <h2 class="text-2xl  ml-1 font-light mb-5" >§5 Widerrufsrecht</h2>
      <p class="text-xl font-light text-justify">
        Der Kunde hat nicht das Recht, den Vertrag innerhalb von 14 Tagen nach
        Erhalt der Ware zu widerrufen.
        Der Kunde kann den Artikel sofort an das ZID zurückgeben, und beendet somit
        einfach seine Ausborgzeit.
      </p>
    </section>
    
    <section>
      <h2 class="text-2xl  ml-1 font-light mb-5" >§6 Gewährleistung</h2>
      <p class="text-xl font-light text-justify">
        Gewährleistung ist volkommen ausgeschlossen. Das ZID haftet nicht für schäden durch das Produkt.
      </p>
    </section>
    
    <section>
      <h2 class="text-2xl  ml-1 font-light mb-5" >§7 Haftungsbeschränkung</h2>
      <p class="text-xl font-light text-justify">
        Das ZID Haftet für nichts.
      </p>
    </section>
    
    <section>
      <h2 class="text-2xl  ml-1 font-light mb-5" >§8 Anspruchsausschluss</h2>
      <p class="text-xl font-light text-justify">
        Niemand hat anspruch auf den Services des ZID Automaten. Das ZID behällt sich vor den Service jederzeit einzustellen.
      </p>
    </section>
  </div>
</div>