<h1 class="text-center block font-light text-3xl m-10">AGBs</h1>  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGBs</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="agbs-page.component.scss">


</head>
<body>
<main class=" text-center">
    <section>
      <h2>§1 Geltungsbereich</h2>
      <p>Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Verträge zwischen dem ZID und seinen Kunden.</p>
      <p>Abweichende Bedingungen des Kunden werden nicht anerkannt, es sei denn, das ZID hat ihrer Geltung ausdrücklich schriftlich zugestimmt.</p>
    </section>
    
    <section>
      <h2>§2 Vertragsabschluss</h2>
      <p>Der Vertrag kommt zustande, sobald der Kunde das Bestellformular ausfüllt und auf Ausborgen klickt.</p>
      <p>Das ZID ist berechtigt, das Angebot des Kunden am selben Tag anzunehmen.</p>
    </section>
    
    <section>
      <h2>§3 Lieferung</h2>
      <p>Es gibt keine Lieferung, da das System hinter dem ZID-Automaten auf einem Selbstbedienungsmodel basiert.</p>
      <p>Nachdem der QR-Code erworben wurde, wird der Artikel vom Kunden selber beim Automaten abgeholt.</p>
    </section>
    
    <section>
      <h2>§4 Zahlungsbedingungen</h2>
      <p>EIne Zahlung erfolgt nur dann, wenn der Kunde seinen Artikel beschädig oder verloren hat, bzw. nicht in der Lage ist ihn zurück zu bringen.</p>
      <p>Sollte es zu solch einem Fall kommen, hat der Kunde eine Frist in der er den Rückerstatungswert bezahlen muss.</p>
      <p>Hällt sich der Kunde nicht dran und überschreitet diese festgelegte Zeit, fallen weitere Kosten an.</p>
    </section>
    
    <section>
        <h2>§5 Widerrufsrecht</h2>
        <p>Der Kunde hat nicht das Recht, den Vertrag innerhalb von 14 Tagen nach Erhalt der Ware zu widerrufen.</p>
        <p>Der Kunde kann den Artikel sofort an das ZID zurückgeben, und beendet somit einfach seine Ausborgzeit.</p>
      </section>
      
      <section>
        <h2>§6 Gewährleistung</h2>
        <p>Das ZID gewährleistet, dass die gelieferten Waren frei von Mängeln sind und den vereinbarten Spezifikationen entsprechen.</p>
        <p>Im Falle eines Mangels hat der Kunde Anspruch auf Nachbesserung oder Ersatzlieferung.</p>
      </section>
      
      <section>
        <h2>§7 Haftungsbeschränkung</h2>
        <p>Das ZID haftet nur für Schäden, die auf Vorsatz oder grober Fahrlässigkeit beruhen.</p>
        <p>Die Haftung für leichte Fahrlässigkeit ist ausgeschlossen, es sei denn, es handelt sich um die Verletzung wesentlicher Vertragspflichten.</p>
      </section>
    
  </main>
  
  <footer>
    <p>© 2023 ZID-Automat. Alle Rechte vorbehalten.</p>
  </footer>
</body>

    <script src="agbs-page.component.ts"></script>


</html>