<div class="w-10/12 m-auto mt-7 ">
  <p class="font-extralight text-3xl text-center mb-4">User Infos</p>
    <ngx-datatable
      class="material mt-10 mb-10"
      [rows]="rows"
      [loadingIndicator]="loadingIndicator"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [reorderable]="reorderable"
      (activate)="onRowClicki($event)"
    >
    <ngx-datatable-column name="Id"></ngx-datatable-column>
    <ngx-datatable-column name="Name"></ngx-datatable-column>
    <ngx-datatable-column name="Vorname"></ngx-datatable-column>
    <ngx-datatable-column name="Nachname"></ngx-datatable-column>
    <ngx-datatable-column name="Joined">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value | date: "dd/MM/yyyy HH:mm" }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="BorrowCount"></ngx-datatable-column>
    <ngx-datatable-column name="Blockiert"></ngx-datatable-column>
    </ngx-datatable>
  </div>