<p class="font-extralight text-3xl text-center mb-4 pt-10">Analytics</p>
<div class="w-4/12 block m-auto p-10">
  <admin-wie-viel-zu-spaet-graph></admin-wie-viel-zu-spaet-graph>
</div>

<div class="w-4/12 block m-auto p-10">
  <admin-taegliche-user-graph></admin-taegliche-user-graph>
</div>

<div class="w-1/2 block m-auto p-10">
  <admin-artikel-verkauft-graph
    class="w-1/2"
    ngxChartClass=""
  ></admin-artikel-verkauft-graph>
</div>

<div class="w-1/2 block m-auto p-10">
  <admin-gesamt-borrow></admin-gesamt-borrow>
</div>

