<div class="flex flex-col justify-center align-middle" id="qr-code-dialog">
  <h2 class="h-10 sm:mb-0 mb-5 text-2xl text-center font-bold">
    Hier ist dein QR Code
  </h2>
  <user-qrcode [qrcode]="data.qrcode"></user-qrcode>
  <div>
    <p class="text-center text-sm text-gray-600">
      Scanne den QR code am Automaten!
    </p>
    <p class="text-center text-sm text-gray-600">
      Du kannst den QR code screenshoten und/oder später unter Historie noch
      einmal aufrufen.
    </p>
  </div>
</div>
