<div class="xl:w-5/12 login text-justify pl-2 pr-2 ml-auto mr-auto block text-white ">
  <h1 class="text-center block  font-light text-3xl m-1 mb-10 ">Login</h1>
  <user-login-form (LoginEvent)="Login($event)"></user-login-form>
</div>

<div class=" bottom-0 absolute block w-full">
  <p class="font-light text-white text-center mb-2">
    Copyright ZID<br>
    Developed by
    Maximilian Fischer,
    Marko Gavranic<br>
    (offically also Adrian Schauer,
    Jiang Marcel)
  </p>
</div>


<div
  class="w-screen h-screen -z-50 top-0 absolute"
  [style.background-color]="themeDataService.primaryColor"
></div>
     