<div class="flex">
  <p class="text-3xl font-extralight">Borrow Detailed</p>
  <p class="text-lg font-extralight">({{BorrowData?.id}})</p>
</div>


<div class="flex mt-3">
  <p class="text-xl font-light ">Username:</p>
  <p class="text-xl font-light">{{BorrowData?.userName}}</p>
  <p class="text-sm font-extralight">({{BorrowData?.userId}})</p>
</div>


<div class="w-full mt-2">
  <p class="text-lg mb-5 font-extralight">Item information:</p>
  <ngx-datatable
    *ngIf="ItemRows"
    class="material w-full mt-2"
    [rows]="ItemRows"
    [columns]="DateCollums"
    [columnMode]="ColumnMode.force"
    [headerHeight]="0"
    [footerHeight]="0"
    rowHeight="auto"
    [limit]="8"
  >
  </ngx-datatable>

  <div class="w-full mt-5">
    <p class="text-lg mb-5 font-extralight">Dates:</p>
    <ngx-datatable
      *ngIf="DateRows"
      class="material w-full  mt-2"
      [rows]="DateRows"
      [columns]="DateCollums"
      [columnMode]="ColumnMode.force"
      [headerHeight]="0"
      [footerHeight]="0"
      rowHeight="auto"
      [limit]="8"
    >
    </ngx-datatable>
  </div>

  
  <div class="m-3 mt-10">
    <button mat-raised-button color="primary" (click)="Zurueckgeben()" class="w-full m-5 ">
      <p class="p-4 text-xl font-extralight">
         {{BorrowData?.returnDate == null ? 'Zurückgeben' : 'Zurückgeben revidieren'}}
      </p>
    </button>
  </div>

  <div class="m-3 mt-4" *ngIf="BorrowData?.returnDate != null && BorrowData?.late">
    <button mat-raised-button color="primary" class="w-full m-5 " (click)="Entschuldigen()">
      <p class="p-4 text-xl font-extralight">
        {{BorrowData?.entschuldigt ? 'Entschuldigung zurücknehmen' : 'Entschuldigen'}}
      </p>
    </button>
  </div>

  <div class="m-3 mt-4">
    <button mat-raised-button color="primary" class="w-full m-5 " (click)="ShowQrCode()">
      <p class="p-4 text-xl font-extralight">
        Show QrCode
      </p>
    </button>
  </div>

  
  <div class="m-3 mt-4">
    <button mat-raised-button color="primary" class="w-full m-5 " (click)="ShowUser">
      <p class="p-4 text-xl font-extralight">
        Show User
      </p>
    </button>
  </div>

  <div class="m-3 mt-4" *ngIf="data.ShowToUser??true">
    <button mat-raised-button color="primary" class="w-full m-5" (click)="ZumUser($event)">
      <p class="p-4 text-xl font-extralight">
        Zum User
      </p>
    </button>
  </div>
</div>
