<div class="text-lg">
  <div class="text-2xl text-center">Add New Item to Catalog</div>
  <label for="name">Name of Item <span class="text-red-500">*</span></label>

  <input
    id="name"
    type="text"
    placeholder="Name of Item"
    class="w-full border-2 border-gray-200 rounded-lg p-2 my-2"
  />

  <label for="price">Price of Item <span class="text-red-500">*</span></label>

  <input
    type="number"
    placeholder="Price of Item"
    class="w-full border-2 border-gray-200 rounded-lg p-2 my-2"
  />

  <label for="image">Image of Item</label>

  <input
    type="file"
    placeholder="Image of Item"
    class="w-full border-2 border-gray-200 rounded-lg p-2 my-2"
  />

  <button
    class="w-full bg-green-500 text-white rounded-lg p-2 my-2 text-lg"
    (click)="addItem()"
  >
    Add Item
  </button>
</div>
