.login{
    max-width: 32rem;
}

.asa{
    font-weight: 200 !important;
}

.m0{
    margin: 0 !important;
}

.mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p {
    margin: 0 0 12px;
}

.text-3xl {
    font-size: 1.875rem/* 30px */ !important;
    line-height: 2.25rem/* 36px */ !important;
}