<div class="flex" *ngIf="Item">
  <div class="w-1/2">
    <user-item-image
      [src]="Item.image"
      [available]="Item?.available??false"
      alt="Item 1Image"
      class="m-auto block w-2/3"
    > </user-item-image>
  </div>
  <div class="w-1/2">
    <div class="w-3/4">
      <p class="ml-1 font-medium text-4xl text-gray-500">{{ Item?.name }}</p>
      <div class="ml-1 font-normal text-3xl text-gray-500">
        {{ Item?.subName }}
      </div>
      <p class="ml-1 mt-1 text-xl font-normal text-gray-400">{{ Item?.categorie ??"Kategorie"}}</p>

      <div class="ml-1 mt-5 font-light text-xl text-justify">
        {{ Item?.description }}
      </div>
      <div class="flex">
        <div class="ml-1 mt-10 text-3xl">
          <h2 class="font-medium text-gray-500">Wert:</h2>
        </div>
        <div class="ml-3 mt-10 text-3xl">
          <p class="font-light">{{ Item?.price | currency }}</p>
        </div>
      </div>

      <mat-error *ngIf="!Item.available" class="mt-8 text-2xl text-justify">
        Dieser Artikel ist aktuell nicht verfügbar. Versuche es später noch einmal!
      </mat-error>

     <user-item-detailed-form [ItemDetailed]="Item" class="mt-96"></user-item-detailed-form>
    </div>
  </div>
</div>
