<div class="flex flex-col lg:flex-row" *ngIf="Item">
      <div class="w-full max-w-2xl lg:w-1/2 ml-auto mr-auto block" >
    <user-item-image
      [src]="Item.image"
      [available]="Item?.available ?? false"
      alt="Item 1Image"
      class="m-auto block mr-4"
    >
    </user-item-image>
    <mat-error *ngIf="!Item.available" class="mt-4 text-2xl text-justify">
      Dieser Artikel ist aktuell nicht verfügbar. Versuchen Sie es später nochs
      einmal!
    </mat-error>
  </div>
  <div class ="w-full lg:w-1/2 lg:mt-0 mt-4 lg:mb-0 mb-4">
    <div class="ml-0  lg:ml-4">
      <div class="h-24 mb-2">
        <p class="ml-1 font-medium text-4xl">{{ Item?.name }}</p>
        <div class="ml-1 font-normal text-2xl text-gray-800">
          {{ Item?.subName }}
        </div>
        <p class="ml-1 text-xl font-normal text-gray-700">
          {{ Item?.categorie ?? "Kategorie" }}
        </p>
      </div>
      <div class="flex mt-8 mb-4">
        <div class="ml-1 text-3xl">
          <h2 class="font-medium">Wert:</h2>
        </div>
        <div class="ml-3 text-3xl">
          <p class="font-light">{{ Item?.price | currency }}</p>
        </div>
        <lib-icon IconName="Questioncircle" class="text-gray-500 ml-2 text-xl" matTooltip="Dies ist nur der Rückerstattungswert" matTooltipPosition="right"></lib-icon>
      </div>

      

      <div class="ml-1 font-light text-xl text-justify h-14">
        {{ Item?.description }}
      </div>

      <h2 class="font-medium ml-1 text-3xl mt-10 mb-3">Ausborgen:</h2>
      <user-item-detailed-form
        [ItemDetailed]="Item"
        class="mt-96"
      ></user-item-detailed-form>
    </div>
  </div>
</div>
