<div class="hover:shadow-lg shadow-2xl margin10 child w-80 inline-block hover:scale-110 ease-in duration-200">
    <mat-card (click) = "click()" class="h-96 flex-auto p-10 font-normal">
        <mat-card-header class="" [style.background-color]="ThemeDataService.accentColor">
            <mat-card-title class="" [style.color]="ThemeDataService.textPrimaryColor"> {{Item?.name}} </mat-card-title>
            <mat-card-subtitle [style.color]="ThemeDataService.textSecondaryColor">{{Item?.subName}}</mat-card-subtitle>
        </mat-card-header>
       <div class="h-72 div12 overflow-hidden">
           <user-item-image [src]="Item?.image" [available]="Item?.available??true" class="m-auto c imgMaxWisth " ></user-item-image>
       </div>
    </mat-card>
</div>