<div class="w-10/12 m-auto mt-7 ">
  <p class="font-extralight text-3xl text-center mb-4">Categories</p>
    <ngx-datatable
      class="material mt-10 mb-10"
      [rows]="rows"
      [loadingIndicator]="loadingIndicator"
      [columns]="columns"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [reorderable]="reorderable"
      (activate)="onRowClicki($event)"
      
    >
    </ngx-datatable>
    <button class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded" (click)="saveChanges($event)">Save</button>

    <p class="font-extralight text-3xl text-center mb-4">Add Category</p>
    <div class="container">
      <div class="form-group">
        <label for="categoryName">Name:</label>
        <input type="text" class="form-control" id="categoryName">
      </div>
    <br>
      <div class="form-group">
        <label for="categoryDescription">Description:</label>
        <input type="text" class="form-control" id="categoryDescription">
      </div>
    
      <button class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded" onclick="addNewCategory()">Add</button>
    </div>

  </div>
  

